*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: purple;
    text-align: center;
    color: white;
    padding: 5px;
}
.header .head{
    margin:15px;
    font-size: 12;
}

.today{
background-color: violet;
text-align: center;
color: red;
padding: 10px;
}
.navbar{
    background-color: rgb(red, green, blue);
    color:white ;
    display: flex;
    padding: 10px;
    background-color: sienna;
}
.navbar .nav{
    margin: 8px;
    text-transform: uppercase;
    font-size: 15px;

}
  .books{
      margin: 10px;
      display: flex;
      justify-content: space-between;
  }
.books img{
    width: 50px;
        margin: 14px;
        display:flex;
        justify-content: space-between;
}
.books.new{
        width:30px;
        height: 10px;
        margin-top: 15px;

    }